.col-sm-2, .form-label, .form-check-label{
    color:aquamarine;
}

.form-control {
    width: 50%;
}

#login-header, p {
    color: aquamarine;
}

#login-form, #signup-form {
    margin-top: 12rem;
    margin-left: 40%;
}

a:link {
    text-decoration: none;
}

.form-control {
    width: 30%;
}

p {
    margin-top: 1rem;
}

p:hover {
    color: blue;
    transition: 0.5s;
}