#profile {
    color: aquamarine;
}

#jobName {
    color: black;
}

#createJob {
    margin-top: 7rem;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
}

#createJob button {
    color: black;
    width: 200px;
    height: 30px;
}