body {
    background-color: black;
}

#home-box {
    margin-top: 25rem;
    text-align: center;
}

#home-box h1 {
    color: aquamarine;
}

.btn {
    background-color: aquamarine;
    height: 3rem;
    width: 5rem;
}

#log-btn {
    margin-right: 1rem;
}

#sign-btn {
    margin-left: 1rem;
}

#home-logo {
    height: 9rem;
    width: 12rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: aquamarine;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-box h1 {
    color: aquamarine;
    position: absolute; /* remove it from the normal flow */
    top: 1rem; /* distance from the top */
    left: 1rem; /* distance from the left */
    margin: 0; /* remove default margin */
}

.login-options {
    position: absolute; /* remove it from the normal flow */
    top: 1rem; /* distance from the top */
    right: 1rem; /* distance from the left */
    margin: 0; /* remove default margin */
}


#homePic {
    width: 40%;
    height: 40%;
    border: 5px solid aquamarine; /* makes the border visible */
    margin-top: -15%;
    margin-right: 55%;
}

h2 {
    color: aquamarine;
    margin-bottom: 7rem;
    margin-left: 40%;
}

#gitHubIcon {
    font-size: 3rem;  /* Controls the icon size */
    color: black;
    cursor: pointer;
}

#gitHubIcon:hover {
    color: white;
    transform: scale(1.2);
    transition: transform 0.2s ease, color 0.2s ease;
}