td, th {
    color: white;
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


#job-table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
}

th {
    background-color: #333;
    font-weight: bold;
}

tr:hover {
    background-color: #555;
}

.btn {
    width: 7rem;
    color: black;
}

#delete {
    border-bottom: none;
}

#currJobStatus {
    color:black;
}