#logo {
    height: 5rem;
}

#Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 2.5px;
}

#nav-op {
    color: black;
    text-decoration: none;
    margin-left: 1rem;
}

#nav-op:hover {
    color: white;
    transition: 1s;
    text-decoration: none;
}

.btn .btn-primary {
    color: black;
}